.DS_Store

# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env

# Java/Maven (backend)
boost/target/
boost/**/target/
boost/rewards-batch/target/

# IDE
.idea/
.vscode/

boost/jmeter/results/

loadtest/

frontend/public/results_csv

